.wrap_faq {
    width: 100%;
    margin: 0 auto;
    padding: 48px 0;
}

.faq_body {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}

.wrap_faq .sect_header {
    padding-bottom: 64px;
}

.faq_items {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.collapse_row {
    width: 100%;
    padding: 24px;
    background: #FFF;
    cursor: pointer;
    border-top: 1px solid var(--border-border-tertiary, #F3F4F6);
}

.collapse_btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 24px;
    padding: 0px 24px 0px 0;
    text-align: left;
    color: var(--text-heading-primary, #111827);
    /* Body large/Medium */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-large, 18px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-body-large, 1.5);
    /* 155.556% */
    letter-spacing: var(--Letter-spacing-body-large, 0);
    opacity: 1;
    word-break: break-word;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.collapse_btn::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("/assets/icons/faq_btn.svg");
}

.clp_clicked .collapse_btn::before {
    background-position: 0 100%;
}


.collapse_content {
    display: block;
    width: 100%;
    text-align: left;
    color: var(--text-body, #4B5563);
    /* Body small/Regular */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
    word-break: break-word;
    padding: 0 0 0 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.collapse_content p,
.collapse_content li {
    margin-bottom: 16px;
}


.collapse_row.active .collapse_content {
    margin: 8px 0 0 0;
}

@media only screen and (min-width: 1025px) and (max-width: 1232px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap_faq .sect_header {
        padding-bottom: 0;
    }

    .collapse_row {
        width: 100%;
        padding: 16px;
    }

    .collapse_content p,
    .collapse_content li {
        margin-bottom: 8px;
    }


}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .wrap_faq .sect_header {
        padding-bottom: 0;
    }

    .collapse_row {
        width: 100%;
        padding: 16px;
    }

    .collapse_content p,
    .collapse_content li {
        margin-bottom: 8px;
    }

}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_faq .sect_header {
        padding-bottom: 0;
    }

    .collapse_row {
        width: 100%;
        padding: 16px;
    }

    .collapse_content p,
    .collapse_content li {
        margin-bottom: 8px;
    }
}