/* === manshet === */
.card_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 0 0;
    overflow: hidden;
    background: var(--brand-800, #183D8A);
    border-radius: var(--Radius-3xl, 24px);
    -webkit-border-radius: var(--Radius-3xl, 24px);
    -moz-border-radius: var(--Radius-3xl, 24px);
    -ms-border-radius: var(--Radius-3xl, 24px);
    -o-border-radius: var(--Radius-3xl, 24px);
}

.item_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    float: left;
    gap: 24px;
    margin-right: auto;
    padding: 32px 32px 32px 32px;
    width: calc(100% - 580px);
}

.item_img {
    margin: auto 0 0 auto;
    width: 100%;
    max-width: 580px;
    float: left;
}

.item_img img {
    display: block;
    margin: auto 0 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
    float: left;
}

.item_title {
    color: var(--text-heading-inverted, #FFF);
    font-size: var(--Size-h2, 60px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-h2, 1.2);
    /* 120% */
    letter-spacing: var(--Letter-spacing-h2, -2px);
    z-index: 3;
}

.item_info {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    color: var(--brand-50, #EDF2FC);
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-large, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-large, 1.5);
    /* 155.556% */
    letter-spacing: var(--Letter-spacing-body-large, 0);
    z-index: 3;
}

.btn_sect {
    margin-top: 8px;
}

@media only screen and (min-width: 1025px) and (max-width: 1248px) {
    .card_item {
        border-radius: var(--Radius-3xl, 16px);
        -webkit-border-radius: var(--Radius-3xl, 16px);
        -moz-border-radius: var(--Radius-3xl, 16px);
        -ms-border-radius: var(--Radius-3xl, 16px);
        -o-border-radius: var(--Radius-3xl, 16px);
    }

    .item_content {
        width: 60%;
    }

    .item_img {
        width: 40%;
    }

    .item_title {
        font-size: 36px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card_item {
        border-radius: var(--Radius-3xl, 16px);
        -webkit-border-radius: var(--Radius-3xl, 16px);
        -moz-border-radius: var(--Radius-3xl, 16px);
        -ms-border-radius: var(--Radius-3xl, 16px);
        -o-border-radius: var(--Radius-3xl, 16px);
    }

    .item_content {
        width: 60%;
    }

    .item_img {
        width: 40%;
    }

    .item_title {
        font-size: 28px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .card_item {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 32px;
        overflow: hidden;
        border-radius: var(--Radius-3xl, 16px);
        -webkit-border-radius: var(--Radius-3xl, 16px);
        -moz-border-radius: var(--Radius-3xl, 16px);
        -ms-border-radius: var(--Radius-3xl, 16px);
        -o-border-radius: var(--Radius-3xl, 16px);
    }

    .item_content {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .item_img {
        margin: 0 auto;
        width: 100%;
        float: none;
        overflow: hidden;
        border-radius: var(--Radius-3xl, 16px);
        -webkit-border-radius: var(--Radius-3xl, 16px);
        -moz-border-radius: var(--Radius-3xl, 16px);
        -ms-border-radius: var(--Radius-3xl, 16px);
        -o-border-radius: var(--Radius-3xl, 16px);
    }

    .item_title {
        font-size: 28px;
    }

}



@media only screen and (min-width: 0px) and (max-width: 560px) {
    .card_item {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 32px 24px;
        overflow: hidden;
        border-radius: var(--Radius-3xl, 0);
        -webkit-border-radius: var(--Radius-3xl, 0);
        -moz-border-radius: var(--Radius-3xl, 0);
        -ms-border-radius: var(--Radius-3xl, 0);
        -o-border-radius: var(--Radius-3xl, 0);
    }

    .item_content {
        float: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .item_img {
        width: 100%;
        float: none;
        overflow: hidden;
        border-radius: var(--Radius-3xl, 16px);
        -webkit-border-radius: var(--Radius-3xl, 16px);
        -moz-border-radius: var(--Radius-3xl, 16px);
        -ms-border-radius: var(--Radius-3xl, 16px);
        -o-border-radius: var(--Radius-3xl, 16px);
    }

    .item_title {
        font-size: 28px;
    }

    .btn_sect {
        flex-direction: column;
    }

    .btn_item {
        width: 100%;
    }

}

/* === manshet === */