.wrap_corps {
    padding: 64px 116px;
    border: 1px solid #FFF;
    background: #F8F8F8;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.wrap_corps .col_item {
    width: calc(33.33% - 16px);
}

.wrap_corps .card_item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    padding: 24px;
    border: 1px solid rgba(69, 74, 71, 0.16);
    background: #FFF;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.wrap_corps .item_content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 0 auto;
}

.wrap_corps .item_title {
    text-align: center;
    font-weight: 600;
}

.wrap_corps .item_img {
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.wrap_corps .item_img::before {
    padding-top: 60%;
}

.wrap_corps .item_info {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #0D1714;
}

.wrap_corps .item_info span {
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F0F5F2;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.wrap_corps .item_info_second {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #626965;
    -webkit-line-clamp: 3;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap_corps {
        padding: 32px 16px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }


    .wrap_corps .card_item {
        padding: 24px 16px;
    }

    .wrap_corps .item_img {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .wrap_corps {
        width: calc(100% + 32px);
        margin-left: -16px;
        padding: 32px 16px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .wrap_corps .col_item {
        width: 100%;
    }

    .wrap_corps .card_item {
        padding: 20px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_corps {
        width: calc(100% + 32px);
        margin-left: -16px;
        padding: 32px 16px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .wrap_corps .col_item {
        width: 100%;
    }

    .wrap_corps .card_item {
        padding: 20px;
    }

    .wrap_corps .item_img {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }

}