.wrap_how {
    padding: 0px 0 120px 0;
}

.wrap_how .card_item {
    gap: 88px;
    align-items: flex-start;
    justify-content: space-between;
}

.wrap_how .item_left {
    width: calc(60% - 88px);
    align-items: flex-start;
}

.wrap_how .item_right {
    width: 40%;
}

.wrap_how .item_img img {
    position: relative;
}

.wrap_how .item_img {
    width: 100%;
    background: #E9EAF6;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.wrap_how .item_title {
    font-size: 24px;
}

.wrap_how .item_info {
    font-size: 20px;
    color: #666;
}

.wrap_how .item_content {
    padding-left: 24px;
    position: relative;
}

.wrap_how .btn_item {
    margin-top: 16px;
}

.wrap_how .item_content::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #EBEDEF;
    top: 0;
    left: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
}

.wrap_how .item_level {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    padding: 24px;
    cursor: pointer;
    border: 1px solid #EFF1F2;
    background: #FFF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.wrap_how .item_level.active .item_content::before {
    background-color: #5444DB;
}


.hide_block_default {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
    -webkit-transition: max-height 1.2s ease;
    -moz-transition: max-height 1.2s ease;
    -ms-transition: max-height 1.2s ease;
    -o-transition: max-height 1.2s ease;
}

.wrap_how .item_level.active .hide_block_default {
    max-height: 800px;
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .wrap_how {
        padding: 0px 0 48px 0;
    }

    .wrap_how .card_item {
        gap: 24px;
        flex-direction: column-reverse;
    }

    .wrap_how .item_left {
        width: 100%;
    }

    .wrap_how .item_right {
        width: 100%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_how {
        padding: 0px 0 48px 0;
    }

    .wrap_how .card_item {
        gap: 24px;
        flex-direction: column-reverse;
    }

    .wrap_how .item_left {
        width: 100%;
    }

    .wrap_how .item_right {
        width: 100%;
    }

}