.wrap_why {
    background: #fff;
}

.wrap_why .col_item {
    width: calc(33.33% - 16px);
}

.wrap_why .card_item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    padding: 48px;
    min-height: 420px;
    border: 1px solid #EBEDEF;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.wrap_why .card_item::before {
    content: "";
    display: block;
    position: absolute;
    width: 240px;
    height: 240px;
    right: 0;
    top: 0%;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/assets/icons/w_bg1.svg");
}

.wrap_why .item_content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: auto;
    z-index: 4;
}

.wrap_why .item_img {
    margin: 0 auto 0 0;
    width: 64px;
    padding: 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.wrap_why .item_img img {
    position: relative;
}

.wrap_why .item_title {
    font-size: 24px;
    font-weight: 500;
    color: #0D0D0C;
}

.wrap_why .item_title_second {
    margin-bottom: 4px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    color: #4A553B;
}

.wrap_why .item_info {
    -webkit-line-clamp: 4;
    color: #0D0D0D;
}

.wrap_why .col_item:nth-child(6n+1) .item_img {
    background-color: #F3F9EB;
}

.wrap_why .col_item:nth-child(6n+2) .item_img {
    background-color: #FDEDE7;
}

.wrap_why .col_item:nth-child(6n+3) .item_img {
    background-color: #E6F7FE;
}

.wrap_why .col_item:nth-child(6n+4) .item_img {
    background-color: #F3EBF9;
}

.wrap_why .col_item:nth-child(6n+5) .item_img {
    background-color: #FFE5F5;
}

.wrap_why .col_item:nth-child(6n+6) .item_img {
    background-color: #FEF8E6;
}

.wrap_why .col_item:nth-child(6n+1) .card_item::before {
    background-image: url("/assets/icons/w_bg1.svg");
}


.wrap_why .col_item:nth-child(6n+2) .card_item::before {
    background-image: url("/assets/icons/w_bg2.svg");
}

.wrap_why .col_item:nth-child(6n+3) .card_item::before {
    background-image: url("/assets/icons/w_bg3.svg");
}

.wrap_why .col_item:nth-child(6n+4) .card_item::before {
    background-image: url("/assets/icons/w_bg4.svg");
}

.wrap_why .col_item:nth-child(6n+5) .card_item::before {
    background-image: url("/assets/icons/w_bg5.svg");
}

.wrap_why .col_item:nth-child(6n+6) .card_item::before {
    background-image: url("/assets/icons/w_bg6.svg");
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap_why .col_item {
        width: calc(50% - 12px);
    }

    .wrap_why .card_item {
        padding: 24px;
        min-height: 0px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .wrap_why .item_content {
        margin-top: 48px;
    }
}

@media only screen and (min-width: 561px) and (max-width: 767px) {
    .wrap_why .col_item {
        width: 100%;
    }

    .wrap_why .card_item {
        padding: 24px;
        min-height: 0px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .wrap_why .item_content {
        margin-top: 48px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
    .wrap_why .col_item {
        width: 100%;
    }

    .wrap_why .card_item {
        padding: 24px;
        min-height: 0px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .wrap_why .item_content {
        margin-top: 48px;
    }
}