/* ====  FOOTER START  ===== */
.footer {
    display: block;
    position: relative;
    width: 100%;
    background: #111827;
}

.footer_full {
    display: block;
    width: 100%;
}

.ftr_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    padding: 48px 0;
}

.ftr_top {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 16px 0px;
}

.ftr_bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 48px 0 0 0;
    border-bottom: 1px solid rgba(6, 41, 61, 0.12);
}

.ftr_left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    float: left;
    margin: 0 auto 0 0;
    max-width: 590px;
}

.ftr_right {
    display: flex;
    float: right;
    width: auto;
    padding-left: 24px;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin: 0 0 0 auto;
}

.footer_title {
    display: flex;
    width: 100%;
    color: var(--text-heading-primary, #F9FAFB);
    /* H4/Semibold */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-h4, 36px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-h4, 1.2);
    /* 122.222% */
    letter-spacing: var(--Letter-spacing-h4, -2px);
}

.footer_info {
    display: flex;
    width: 100%;
    text-align: left;
    color: var(--text-body, #E5E7EB);
    /* Body large/Regular */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-large, 18px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-large, 1.5);
    /* 155.556% */
    letter-spacing: var(--Letter-spacing-body-large, 0);
    word-break: break-word;
}


/*! ---MAILING --- */

.ml_form {
    display: block;
    float: right;
    width: 100%;
    margin-left: auto;
}

.ml_form_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 16px;
    width: 100%;
}

.ml_form_row::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    left: 14px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/assets/icons/mail.svg");
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}

.ml_input_item::placeholder {
    color: #fff;
}

.ml_input_item {
    display: block;
    flex: 1;
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    padding: 12px 14px 12px 42px;
    background: transparent;
    text-align: left;
    color: var(--text-placeholder, #9CA3AF);
    font-family: 'Inter';
    /* Body small/Regular */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
    color: #FFF;
    border-radius: var(--Radius-lg, 10px);
    border: 1px solid var(--border-border-primary, #4B5563);
    background: var(--background-bg-primary, #111827);

    /* Shadow xs */
    box-shadow: 0 1px 2px 0 rgba(18, 26, 43, 0.05);
}

/* ---MAILING --- */



.created_by_sm {
    display: flex;
    align-items: center;
    position: absolute;
    float: left;
    width: auto;
    min-width: 225px;
    margin: 0 auto;
    word-break: break-word;
    left: calc(50% - 100px);
}

.creat_sm_title {
    display: block;
    float: left;
    width: auto;
    padding: 0px 12px 0px 0px;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #fff;
    opacity: 1;
}

.creat_sm_icon {
    display: block;
    float: left;
    width: 128px;
    height: 32px;
}

.creat_sm_icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.logo_sect {
    display: block;
    width: auto;
    max-width: 128px;
    margin-right: 16px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: auto;
    gap: 12px;
}

.logo_img {
    display: block;
    position: relative;
    width: 118px;
    overflow: hidden;
}

.logo_img::before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    padding-top: 38%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/assets/icons/logo.svg");
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
}


.logo_img img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}

/* social */
.socials {
    display: inline-flex;
    align-items: center;
    width: auto;
    gap: 16px;
}

.socials li {
    display: block;
    float: left;
}

.socials li a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.socials li a img {
    display: block;
    width: 100%;
    height: 100%;
}

.socials li a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* social */

/* second_menu */
.second_menu {
    display: inline-flex;
    align-items: center;
    gap: 40px;
}

.second_menu li {
    display: block;
    float: left;
}

.second_menu li a {
    display: block;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.4px;
    color: #6E757D;
    word-wrap: break-word;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

.second_menu li a:hover {
    color: #06293D;
}

/* second_menu */

/* footer menu */

.ftr_menu_sect {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 32px;
    width: auto;
}

.ftr_menu_sect ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    flex: 1;
}

.ftr_menu_sect > ul > li {
    display: block;
}

/* .fm_hd {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    text-align: left;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    color: #626965;
    opacity: 1;
    word-wrap: break-word;
} */

.ftr_menu_sect ul li a {
    display: block;
    position: relative;
    text-align: center;
    color: var(--text-body, #E5E7EB);
    /* Body small/Medium */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.ftr_menu_sect li a:hover {
    color: #fd701d;
}

/* footer menu */

/* footer contact */
.adrs_list {
    display: block;
    float: right;
    width: 480px;
    margin-left: auto;
}

.adrs_list .fm_hd {
    display: block;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.5;
    color: #78757D;
    opacity: 1;
    background: linear-gradient(90deg, #87ADA7 0%, #A38C98 32.5%, #D68678 66.5%, #E5D385 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* footer contact */

/* copyright */
.copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 32px 0;
    border-top: 1px solid var(--border-border-secondary, #374151);
}

.copyright_inner {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    text-align: left;
    color: var(--text-body, #E5E7EB);
    /* Body small/Regular */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
    opacity: 1;
}

.copyright_inner a {
    display: inline;
    text-decoration: underline;
    text-align: center;
    color: var(--text-body, #265DD6);
    /* Body small/Regular */
    font-family: var(--Family-inter, Inter);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
    color: #161A1F;
    opacity: 1;
}

/* copyright */


.footer_logo {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.footer_logo img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 1233px) and (max-width: 1400px) {

    /* Footer responsive */
    .footer {
        padding: 0px;
    }

    .footer_full {
        border-radius: 24px 24px 0px 0px;
        -webkit-border-radius: 24px 24px 0px 0px;
        -moz-border-radius: 24px 24px 0px 0px;
        -ms-border-radius: 24px 24px 0px 0px;
        -o-border-radius: 24px 24px 0px 0px;
    }

    .ftr_top {
        flex-wrap: wrap;
        padding: 80px 0px;
    }

    .ftr_right {
        width: auto;
    }

    /* Footer responsive */
}

@media only screen and (min-width: 1025px) and (max-width: 1232px) {

    /* Footer responsive */
    .footer {
        padding: 0px;
    }

    .footer_full {
        border-radius: 24px 24px 0px 0px;
        -webkit-border-radius: 24px 24px 0px 0px;
        -moz-border-radius: 24px 24px 0px 0px;
        -ms-border-radius: 24px 24px 0px 0px;
        -o-border-radius: 24px 24px 0px 0px;
    }

    .ftr_top {
        flex-wrap: wrap;
        padding: 80px 0px;
    }

    .ftr_right {
        width: auto;
    }

    /* Footer responsive */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Footer responsive */
    .footer {
        padding: 0px;
    }

    .ftr_bottom {
        padding: 24px 0 0 0;
    }


    .ftr_row {
        gap: 24px;
        padding: 24px 0;
    }

    .ftr_menu_sect {
        gap: 24px;
    }

    .ftr_menu_sect ul {
        gap: 8px;
        justify-content: flex-start;
    }

    .ftr_left {
        width: 40%;
    }

    .ftr_right {
        width: 55%;
    }


    .ftr_social {
        float: none;
        width: 100%;
        margin: 0;
    }

    .copyright {
        padding: 24px 0;
    }

    .footer_title {
        font-size: var(--Size-h4, 24px);
    }

    .footer_info {
        font-size: var(--Size-body-large, 16px);
    }

    /* Footer responsive */
}

@media only screen and (min-width: 561px) and (max-width: 767px) {


    /* Footer responsive */
    .footer {
        padding: 0px;
    }

    .ftr_bottom {
        padding: 24px 0 0 0;
    }


    .ftr_row {
        gap: 24px;
        padding: 24px 0;
    }

    .mob_reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .ftr_menu_sect {
        gap: 24px;
    }

    .ftr_menu_sect ul {
        gap: 8px;
        justify-content: flex-start;
    }

    .ftr_left {
        justify-content: flex-start;
        float: none;
        width: 100%;
        margin: 0 0;
    }

    .ftr_right {
        display: flex;
        flex-wrap: wrap;
        float: none;
        width: 100%;
        padding: 0;
    }


    .ftr_social {
        float: none;
        width: 100%;
        margin: 0;
    }

    .copyright {
        padding: 24px 0;
    }

    .footer_title {
        font-size: var(--Size-h4, 24px);
    }

    .footer_info {
        font-size: var(--Size-body-large, 16px);
    }

    /* Footer responsive */
}

@media only screen and (min-width: 0px) and (max-width: 560px) {

    /* Footer responsive */
    .footer {
        padding: 0px;
    }

    .ftr_bottom {
        padding: 24px 0 0 0;
    }


    .ftr_row {
        gap: 24px;
        padding: 24px 0;
    }

    .mob_reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .ftr_menu_sect {
        gap: 24px;
    }

    .ftr_menu_sect ul {
        gap: 8px;
        justify-content: flex-start;
    }

    .ftr_left {
        justify-content: flex-start;
        float: none;
        width: 100%;
        margin: 0 0;
    }

    .ftr_right {
        display: flex;
        flex-wrap: wrap;
        float: none;
        width: 100%;
        padding: 0;
    }


    .ftr_social {
        float: none;
        width: 100%;
        margin: 0;
    }

    .copyright {
        padding: 24px 0;
    }

    .footer_title {
        font-size: var(--Size-h4, 24px);
    }

    .footer_info {
        font-size: var(--Size-body-large, 16px);
    }

    /* Footer responsive */
}

/* ====  FOOTER FINISH  ===== */