/* === wrap_main === */
.wrap_main {
    padding-top: 32px;
    background: #fff;
}

/* === wrap_main === */
/* === wrap_cta === */
.wrap_cta {
    width: 100%;
}

.wrap_cta .card_item:nth-child(2n) {
    flex-direction: row-reverse;
}

/* === wrap_cta === */

/* === wrap_stats === */
.wrap_stats {
    background: var(--brand-800, #183D8A);
    padding: 96px 0;
    position: relative;
}

.wrap_stats .row {
    gap: 32px;
}

.wrap_stats .col {
    width: calc(25% - 24px);
}

/* === wrap_stats === */


/* === wrap_services  === */
.wrap_services {
    padding: 96px 0;
}

.wrap_services .sect_header {
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 64px;
}

.wrap_services .sect_title {
    margin-bottom: 16px;
}

.wrap_services .row_item {
    align-items: stretch;
}

.wrap_services .col_in {
    display: flex;
    width: 100%;
}

.wrap_services .col_item {
    width: calc(33.33% - 22px);
}

.wrap_monitor.wrap_services .sect_header {
    justify-content: center;
    align-items: center;
}

.wrap_monitor.wrap_services .col_item:nth-child(1) {
    width: calc(66.66% - 12px);
}

/* === wrap_services  === */
/* === wrap_levels  === */
.wrap_levels {
    background: var(--background-bg-secondary, #F9FAFB);
    padding: 96px 0;
}

.wrap_levels .sect_header {
    justify-content: flex-start;
    align-items: flex-start;
}

.wrap_levels .sect_title {
    margin-bottom: 16px;
}

.wrap_levels .sect_title_category {
    margin-bottom: 8px;
}

.wrap_levels .col_item {
    width: calc(50% - 16px);
}

.flex_body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    gap: 32px;
}

.flex_body .sect_header {
    max-width: 384px;
    float: left;
}

.flex_body .sect_body {
    width: calc(100% - 416px);
    float: left;
}

/* === wrap_levels  === */
/* === wrap_safety  === */
.wrap_safety {
    background: var(--buttons-orange-color, #FD701D);
    padding: 96px 0;
}

.safety_item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.safety_title {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--base-white, #FFF);
    font-size: var(--Size-body-small, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-body-small, 1.5);
    /* 150% */
    letter-spacing: var(--Letter-spacing-body-small, 0);
}

.safety_info {
    display: block;
    width: 100%;
    color: var(--base-white, #FFF);
    text-align: center;
    font-size: var(--Size-h5, 30px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-h5, 1.5);
    /* 126.667% */
    letter-spacing: var(--Letter-spacing-h5, 0);
    word-break: break-all;
}

/* === wrap_safety  === */
/* === wrap_start  === */
.wrap_start {
    background: var(--buttons-orange-color, #fff);
    padding: 96px 0;
}

.wrap_start .btn_sect {
    margin-top: 32px;
    justify-content: center;
}

.start_cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.start_cover img {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

/* === wrap_start  === */


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* === wrap_stats === */
    .wrap_stats .row {
        gap: 16px;
    }

    .wrap_stats .col {
        width: calc(50% - 8px);
    }

    /* === wrap_stats === */
    /* === wrap_services  === */
    .wrap_services {
        padding: 48px 0;
    }

    .wrap_services .col_item {
        width: calc(50% - 16px);
    }

    .wrap_monitor.wrap_services .col_item:nth-child(1) {
        width: 100%;
    }

    /* === wrap_services  === */
    /* === wrap_levels  === */
    .wrap_levels {
        padding: 48px 0;
    }

    .flex_body .sect_header {
        max-width: 100%;
        float: none;
    }

    .flex_body .sect_body {
        width: 100%;
        float: none;
    }


    /* === wrap_levels  === */
}

@media only screen and (min-width: 561px) and (max-width: 767px) {

    /* === wrap_stats === */
    .wrap_stats.wrap_stats .row {
        gap: 16px;
    }

    .wrap_stats.wrap_stats .col {
        width: calc(50% - 8px);
    }

    /* === wrap_stats === */
    /* === wrap_services  === */
    .wrap_services {
        padding: 48px 0;
    }

    .wrap_services .sect_header {
        padding-bottom: 32px;
    }

    .wrap_services .col_item {
        width: calc(50% - 16px);
    }

    .wrap_monitor.wrap_services .col_item:nth-child(1) {
        width: 100%;
    }

    /* === wrap_services  === */
    /* === wrap_levels  === */
    .wrap_levels {
        padding: 48px 0;
    }

    .wrap_levels .col_item {
        width: 100%;
    }

    .flex_body {
        gap: 12px;
    }

    .flex_body .sect_header {
        max-width: 100%;
        float: none;
    }

    .flex_body .sect_body {
        width: 100%;
        float: none;
    }


    /* === wrap_levels  === */
    /* === wrap_safety  === */
    .wrap_safety {
        padding: 48px 0;
    }

    /* === wrap_safety  === */
    /* === wrap_start  === */
    .wrap_start {
        padding: 48px 0;
    }

    .wrap_start .btn_sect {
        margin-top: 24px;
    }

    .start_cover {
        margin-top: 12px;
    }

    /* === wrap_start  === */
}

@media only screen and (min-width: 0px) and (max-width: 560px) {

    /* === wrap_main === */
    .wrap_main {
        padding-top: 24px;
    }

    .wrap_main .main_center {
        padding: 0;
    }

    /* === wrap_main === */
    /* === wrap_stats === */
    .wrap_stats {
        padding: 32px 0;
    }

    .wrap_stats .row {
        gap: 16px;
    }

    .wrap_stats .col {
        width: calc(50% - 8px);
    }

    /* === wrap_stats === */
    /* === wrap_services  === */
    .wrap_services {
        padding: 48px 0;
    }

    .wrap_services .sect_header {
        padding-bottom: 32px;
    }

    .wrap_services .col_item {
        width: 100%;
    }

    .wrap_monitor.wrap_services .col_item:nth-child(1) {
        width: 100%;
    }

    /* === wrap_services  === */

    /* === wrap_levels  === */
    .wrap_levels {
        padding: 48px 0;
    }

    .wrap_levels .col_item {
        width: 100%;
    }

    .flex_body {
        gap: 12px;
    }

    .flex_body .sect_header {
        max-width: 100%;
        float: none;
    }

    .flex_body .sect_body {
        width: 100%;
        float: none;
    }


    /* === wrap_levels  === */
    /* === wrap_safety  === */
    .wrap_safety {
        padding: 48px 0;
    }

    .safety_info {
        font-size: var(--Size-h5, 24px);
    }


    /* === wrap_safety  === */
    /* === wrap_start  === */
    .wrap_start {
        padding: 48px 0;
    }

    .wrap_start .btn_sect {
        margin-top: 24px;
    }

    .start_cover {
        margin-top: 12px;
    }

    /* === wrap_start  === */

}


/* ! Add Stats sect  */