html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

html {
  scroll-behavior: smooth;
}

.page {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-width: 315px;
  background-color: #fff;
  overflow: hidden;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../public/assets/fonts/Inter-SemiBold.woff') format('woff'),
    url('../public/assets/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('../public/assets/fonts/Inter-Regular.woff') format('woff'),
    url('../public/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('../public/assets/fonts/Inter-Medium.woff') format('woff'),
    url('../public/assets/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('../public/assets/fonts/Inter-Bold.woff') format('woff'),
    url('../public/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* INTER */

.main_center {
  display: block;
  width: 100%;
  max-width: 1248px;
  padding: 0 16px;
  margin: 0 auto;
}

.main {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 0 0;
}

.section_wrap {
  display: block;
  position: relative;
  width: 100%;
}

.wrap_left {
  float: left;
  max-width: 300px;
}

.wrap_right {
  float: left;
  max-width: 300px;
}

.sect_body {
  display: block;
  width: 100%;
}

.sect_footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sect_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 24px 0;
}

/* .sect_title::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 72px;
  height: 72px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../public/assets/icons/title_arw.svg");
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
} */

/* .sect_title {
  padding: 0 84px 0 0;
} */
.wrap_page_head {
  display: block;
  width: 100%;
  padding: 96px 0 24px 0;
  background: var(--semantic-brand-800, #183D8A);
}

.wrap_page_head .sect_title,
.wrap_page_head .sect_title a {
  color: #fff;
}

.wrap_page_head .sect_info {
  color: #fff;
  opacity: 0.6;
}

.sect_title,
.sect_title a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 810px;
  width: auto;
  padding: 0;
  margin-bottom: 24px;
  position: relative;
  text-align: left;
  color: var(--text-heading-primary, #111827);
  /* H4/Semibold */
  font-family: var(--Family-inter, Inter);
  font-size: var(--Size-h4, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-h4, 1.3);
  /* 122.222% */
  letter-spacing: var(--Letter-spacing-h4, -2px);
  opacity: 1;
  word-break: break-word;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sect_title a {
  display: inline-flex;
  width: auto;
}

.sect_title_category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin-bottom: 12px;
  position: relative;
  text-align: left;
  color: var(--buttons-orange-color, #FD701D);
  /* Body small/Semibold */
  font-family: var(--Family-inter, Inter);
  font-size: var(--Size-body-small, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-body-small, 1.5);
  /* 150% */
  letter-spacing: var(--Letter-spacing-body-small, 0);
  opacity: 1;
  word-break: break-word;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sect_title_second {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 680px;
  margin-right: auto;
  width: 100%;
  padding: 0;
  position: relative;
  text-align: left;
  color: var(--text-heading-primary, #111827);
  /* H4/Semibold */
  font-family: var(--Family-inter, Inter);
  font-size: var(--Size-h4, 36px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-h4, 1.3);
  /* 122.222% */
  letter-spacing: var(--Letter-spacing-h4, -2px);
  opacity: 1;
  word-break: break-word;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.sect_info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 680px;
  text-align: left;
  color: var(--text-body, #4B5563);
  /* Body large/Regular */
  font-family: var(--Family-inter, Inter);
  font-size: var(--Size-body-large, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--Line-height-body-large, 1.5);
  /* 155.556% */
  letter-spacing: var(--Letter-spacing-body-large, 0);
  opacity: 1;
  word-break: break-word;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.text_center {
  justify-content: center !important;
  text-align: center !important;
}

.font_48 {
  font-size: 48px;
}

.item_title {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  color: #111827;
  opacity: 1;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* -webkit-line-clamp: 5; */
}

.item_info {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  color: #4B5563;
  opacity: 1;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* -webkit-line-clamp: 5; */
}

.item_title_second {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
  color: #0D1714;
  opacity: 1;
  word-break: break-word;
}

.item_info_second {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #3D444C;
  opacity: 1;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* -webkit-line-clamp: 5; */
}

.item_marker::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #B3A38C;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.item_marker {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 20px;
}

.item_info ul,
.item_info ol {
  list-style: auto;
  margin: auto;
  padding-left: 30px;
}

.item_info li {
  display: list-item;
  width: 100%;
  list-style-type: disc;
  /* margin: 4px 0; */
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: #747678;
}

.col_in:hover .item_img img,
.col_in:hover .item_img video,
.col_in:hover .item_img iframe {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.item_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.item_img img,
.item_img video,
.item_img iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.item_img::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.item_content {
  display: block;
  width: 100%;
}


.item_button_sect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

.item_button_sect .btn_item {
  flex: 1;
}


.item_more {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  width: auto;
  padding: 10px 32px 10px 0;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #06293D;
  opacity: 1;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.item_more::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../public/assets/icons/more_right.svg");
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.item_more:hover {
  color: #155275;
}

.more_sect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.more {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: auto;
  margin: 24px auto 0 auto;
  padding: 10px 32px;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #06293D;
  opacity: 1;
  border: 2px solid #06293D;
  background: rgba(255, 255, 255, 0.38);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.more_icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: auto;
  padding-right: 36px;
}

.more_icon::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../public/assets/icons/more.svg");
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}

.more:hover {
  color: #155275;
  border-color: #155275;
}


/* *All pages Grid */
.card_item {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  position: relative;
  /* overflow: hidden; */
  background: transparent;
  /* border: 1px solid, #F7F5E9; */
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.row_item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col {
  display: flex;
  width: 100%;
  float: left;
  padding: 0;
}

.col_item {
  display: flex;
  width: 100%;
  float: left;
  padding: 0;
}

.col_in {
  display: block;
  width: 100%;
}

/* --- Grid system --- */

/* --- Row Gap --- */
.gap_0 {
  gap: 0;
}

.gap_4 {
  gap: 4px;
}

.gap_6 {
  gap: 6px;
}

.gap_8 {
  gap: 8px;
}

.gap_10 {
  gap: 10px;
}

.gap_12 {
  gap: 12px;
}

.gap_16 {
  gap: 16px;
}

.gap_18 {
  gap: 18px;
}

.gap_24 {
  gap: 24px;
}

.gap_32 {
  gap: 32px;
}

.gap_48 {
  gap: 48px;
}

/* --- Row Gap --- */

/* --- Grid system --- */

.pad_top_80 {
  padding-top: 80px;
}

.pad_bottom_80 {
  padding-bottom: 80px;
}

.pad_top_64 {
  padding-top: 64px;
}

.pad_bottom_64 {
  padding-bottom: 64px;
}

/* All pages Grid */

/* === Popup Part === */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000085;
  z-index: 9999999999;
}

.modal_body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px 16px;
}

.modal_content {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* max-width: 368px; */
  height: auto;
  padding: 0px;
}

.modal_btn {
  display: block;
  position: absolute;
  right: 0;
  float: right;
  width: 24px;
  height: 24px;
  margin: 0;
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../public/assets/icons/close_modal.svg);
  cursor: pointer;
}

/* === Popup Part === */


@media only screen and (max-width: 1400px) {
  .main {
    padding-top: 72px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main {
    padding-top: 72px;
  }

  .wrap_page_head {
    padding: 32px 0 8px 0;
  }

  /* .sect_header {
    padding: 0 0 24px 0;
  }

  .sect_title {
    padding-right: 48px;
  }

  .sect_title,
  .sect_title a {
    gap: 0;
    font-size: 36px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sect_title::before {
    width: 32px;
    height: 32px;
  }

  .sect_title_second {
    font-size: 46px;
  } */
  .sect_title_second {
    font-size: 36px;
  }

  .pad_top_80 {
    padding-top: 48px;
  }

  .pad_bottom_80 {
    padding-bottom: 48px;
  }

  .pad_top_64 {
    padding-top: 32px;
  }

  .pad_bottom_64 {
    padding-bottom: 32px;
  }

}

@media only screen and (min-width: 561px) and (max-width: 767px) {
  .main {
    padding-top: 72px;
  }


  .wrap_page_head {
    padding: 32px 0 8px 0;
  }

  /* .sect_header {
    padding: 0 0 48px 0;
  }

  .sect_title {
    padding-right: 48px;
  }

  .sect_title,
  .sect_title a {
    gap: 0;
    font-size: 36px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sect_title::before {
    width: 32px;
    height: 32px;
  }

  .sect_title_second {
    font-size: 46px;
  } */
  .sect_title {
    font-size: 24px;
  }

  .sect_title_second {
    font-size: 36px;
  }

  .pad_top_80 {
    padding-top: 48px;
  }

  .pad_bottom_80 {
    padding-bottom: 48px;
  }

  .pad_top_64 {
    padding-top: 32px;
  }

  .pad_bottom_64 {
    padding-bottom: 32px;
  }

}

@media only screen and (min-width: 0px) and (max-width: 560px) {
  .main {
    padding-top: 72px;
  }

  /* .sect_header {
    padding: 0 0 48px 0;
  } */

  .sect_title {
    font-size: 24px;
  }

  .wrap_page_head {
    padding: 32px 0 8px 0;
  }

  .sect_title,
  .sect_title a {
    font-size: 24px;
  }

  /* .sect_title_second {
    font-size: 46px;
  } */
  .sect_title_second {
    font-size: 36px;
  }

  .pad_top_80 {
    padding-top: 32px;
  }

  .pad_bottom_80 {
    padding-bottom: 32px;
  }

  .pad_top_64 {
    padding-top: 24px;
  }

  .pad_bottom_64 {
    padding-bottom: 24px;
  }

  .row_adm {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
  }

}